---
---

@import "{{ site.theme }}";
.container {
  max-width: 1100px;
}

#yellow {
  color: yellow;
  text-shadow: 0 0 5px rgba(104,182,255,0.5)
}
#green {
  color: #3ddb3b;
  text-shadow: 0 0 5px rgba(104,182,255,0.5)
}
#grey {
  color: #444547;
  text-shadow: 0 0 5px rgba(104,182,255,0.5)
}

#purple {
  color: #6388f5cc;
  text-shadow: 0 0 5px rgba(151, 0, 255, 0.2);
}

code.highlighter-rouge{
  border: 1px rgba(255,255,255,0.15);
  padding: 3px 4px;
  border-radius: 6px;
  font-size: 95%;
}
.markdown-body .highlight pre, .markdown-body pre {
    padding: 12px;
    overflow: auto;
    font-size: 95%;
    border-radius: 6px;
    overflow-x: hidden;
}

#pending {
  color: #8c919b;
  text-shadow: 0 0 4px rgb(255, 3, 3);
}
  

.SandboxRoot.env-bp-970 .timeline-Tweet-text {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 200;
}
