---
---

@import "{{ site.theme }}";
.container {
  max-width: 1100px;
}

#yellow {
  color: yellow;
  text-shadow: 0 0 5px rgba(104,182,255,0.5)
}
#green {
  color: #3ddb3b;
  text-shadow: 0 0 5px rgba(104,182,255,0.5)
}
code.highlighter-rouge{
  background : grey;
}
